<nav class="navbar navbar-expand-lg navbar-dark back">
    <a class="navbar-brand" href="/">
        <img src="/assets/img/netflix.png" width="130" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><strong>Accueil</strong><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Séries <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Films <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-right: 40px">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                <img src="/assets/img/loupe.png" width="25" height="25" alt="">
            </button>
        </form>
        <li class=" dropdown" style="bottom: 14px">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-bottom: 0px; padding-top: 0px; color: red">
                <img src="/assets/img/guest-user.jpg" width="50" height="50" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -55px; top: 98px; color: black; background-color: black">
                <a class="dropdown-item" href="#" style="color: white; background-color: black;"><strong>Compte</strong></a>
                <a class="dropdown-item" href="#" style="color: white; background-color: black;"><strong>Se déconnecter</strong></a>
            </div>
        </li>
    </div>
</nav>