<nav class="navbar navbar-expand-lg navbar-dark back">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/netflix.png" width="130" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><strong>Accueil</strong><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Séries <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Films <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div>
            <a class="navbar-brand" href="#">
            <img src="/assets/img/guest-user.jpg" width="50" height="50" alt="">
            </a>
        </div>
    </div>
</nav>