{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block body %}
    {% include 'header/header.html.twig' %}

    <div class="view_account">
        <h1 class="title_result">Résultats</h1>

    </div>
    <div class="footer_account">
        {% include 'footer/footer.html.twig' %}
    </div>
{% endblock %}