<div class="footer">
    <div class="reseaux">
        <a class="navbar-brand" href="https://www.facebook.com/netflixfrance">
            <img src="{{ asset('/assets/img/fb.png') }}" width="36" height="36" alt="">
        </a>
        <a class="navbar-brand" href="https://www.instagram.com/NetflixFR">
            <img src="{{ asset('/assets/img/insta.png') }}" width="36" height="36" alt="">
        </a>
        <a class="navbar-brand" href="https://twitter.com/NetflixFR">
            <img src="{{ asset('/assets/img/twitter.png') }}" width="36" height="36" alt="">
        </a>
        <a class="navbar-brand" href="https://www.youtube.com/user/netflixfrance">
            <img src="{{ asset('/assets/img/youtube.png') }}" width="40" height="36" alt="">
        </a>
    </div>
    <span class="copyright">© 1997-2020 Netflix, Inc.</span>
</div>
