.copyright{
    color: grey;
}

.footer{
    background-color: #141414;
    position: inherit;
    bottom: 0;
    width: -webkit-fill-available;
    text-align: center;
}
.reseaux{
    margin-left: 18px;
}