{% extends 'base.html.twig' %}

{% block title %}Hello OrderValidateController!{% endblock %}

{% block body %}
<h2>Confirmation de commande</h2>
    <p>Bonjour <strong>{{ order.user.firstName }} {{ order.user.lastName }}</strong>,<br/><br/>
        Nous vous remercions pour votre commande n°{{ order.reference }}.<br/>
        Une confiramtion vient de vous étres envoyée par email à l'adresse <strong>{{ order.user.email }}</strong>.
        <hr>
        Nous vous envérons vos identifiant dans les jours a venir pour accéder a votre produit
        <hr>
    </p>
{% endblock %}
