{% extends 'base.html.twig' %}

{% block title %}Page introubable{% endblock %}

{% block body %}
    <div class="block-small">
        <h1>Aille</h1>
        <p>il y a une erreur mais ou ? ....</p>
        <a href="{{ path('home') }}" class="btn btn-info">Nous avons trouvé un endroit safe ! </a>
    </div>
{% endblock %}
